body {
  --color-bg: #FAFAFA;
  --color-bg-secondary: #ffffff;
  --color-text: #000000;
  background-color: var(--color-bg);
  color: var(--color-text);
}
body {
  
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.my-2 {
  margin-top:2rem ;
  margin-bottom: 2rem;
}
